.pokeball-back {
    position: fixed;
    top: 50%;
    left: -50%;
    transform: translateY(-50%);
    z-index: -100;
    width: 100%;
    opacity: 0.5;
  }
  
#poke-filter {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    padding: 10px;
    border: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #666;
    color: #fff; 
  }
  
  #poke-filter:focus{
    outline: none;
  }

  .selected-pkm{
    position: fixed;
    margin-top:250px;
  }

  #pokemon-name{
    position:fixed;
    top: 370px;
    left:40px;
  }
  
  .poke-list {
    float: right;
    margin-top: 50px;
    width: 70%;
    text-transform: capitalize;
    opacity: 0.95; 
  }
  
